body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

.call-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

#phoneNumber {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button.record {
    background-color: #007bff;
}

.button:active {
    transform: scale(0.98);
}

.message-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.message-content {
    font-size: 16px;
    font-family: "Nerko One", cursive;
    color: #555;
}

/* Error message style */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
